@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'merriweather', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    padding-left: 300px;
    padding-right: 300px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

header {
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1%;
    background-color: rgba(255, 255, 255, 0.804);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: palevioletred;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a.hover,
nav a.active {
    color: palevioletred;
    border-bottom: 3px solid palevioletred;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: white;
        border-top: 0.1rem solid white;
    }

    nav.active {
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid palevioletred;
    }
}

nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid palevioletred;
}

section {
    padding-top: 8rem;
}

.home{
    padding-bottom:100px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8rem;
}

.home h1{
    padding-top: 20px;
    color: palevioletred;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home h2{
    padding-top: 20px;
    color: palevioletred;
    font-size: 3rem;
}

.home h3{
    padding-top: 20px;
    color: palevioletred;
    font-size: 2.5rem;
}

.home p{
    font-size: 2rem;
}

.home li {
    font-size: 2rem;
    list-style-position: inside;
}

.home img {
    width: 400px;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid palevioletred;
    margin: 10px;
    transition: transform 0.2s ease;
    transition: filter 0.4s ease;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.39);
}

.flexing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}